<html>
    <head>
        <meta charset="UTF-8">
        <title>Add a Song</title>
    </head>
    <body>
        <h1>Add a Song</h1>
        <form method="POST" action="/songs">
            <label>Song Title: </label><input type="text" name="title" id="title">
            <br />
            <label>Length: </label><input type="number" name="length" id="length">
            <br />
            <label>Track #: </label><input type="number" name="track-number" id="track-number">
            <br />
            <label>Album Title: </label><input type="text" name="album" id="album">
            <br />
            <input type="submit" />
        </form>
    </body>
</html>