<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>
</head>
<body>
    <h1>All Albums</h1>
    <ul>
        <li th:each="album : ${albums}">
            <h2 th:text="${album.title}"></h2>
            <br />
            <img th:src="${album.imageUrl}" th:width="200"/>
            <br />
            Artist:
            <span th:text="${album.artist}"></span>
            <br />
            Song Count:
            <span th:text="${album.songCount}"></span>
            <br />
            Length:
            <span th:text="${album.length}"></span>s
        </li>
    </ul>
</body>
</html>
